.place__main-text:first-child {
    margin-bottom: 26px;
}
.place__main-text {
    font-size: 18px;
    line-height: 29px;
}

@media screen and (max-width: 767px){
    .place__main-text {
        font-size: 16px;
        line-height: 26px;
        padding: 0 16px;
    }
}