.lead__map {
    max-width: 100%;
    position: absolute;
    top: 90px;
    width: calc(100% - (21.95px + 22.3px));
    left: 21.95px;
    right: 22.3px;
}

@media screen and (max-width: 768px) {
    .lead__map {
        max-width: 100%;
    }
}
